{% load static %}
 <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">


                    <!--OPTIONAL : ADD YOUR LOGO TO THE NAVIGATION-->
                    <!--It will only appear on small screen devices.-->
                    <!--================================
                    <div class="mainnav-brand">
                        <a href="index.html" class="brand">
                            <img src="img/logo.png" alt="Nifty Logo" class="brand-icon">
                            <span class="brand-text">Nifty</span>
                        </a>
                        <a href="#" class="mainnav-toggle"><i class="pci-cross pci-circle icon-lg"></i></a>
                    </div>
                    -->

                <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">

                                <!--Profile Widget-->
                                <!--================================-->
                                <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap text-center">
                                        <div class="pad-btm">
                                            {% if user.profile_image %}
                                                <img class="img-circle img-md" src="{{ user.profile_image.url }}" alt="Foto de perfil">
                                            {% else %}
                                                <img class="img-circle img-md" src="{% static 'img/profile-photos/user.jpg' %}" alt="Foto de perfil">
                                            {% endif %}
                                        </div>
                                        <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                            <span class="pull-right dropdown-toggle">
                                                <i class="dropdown-caret"></i>
                                            </span>
                                            <p class="mnp-name">{{ user.get_full_name|default:user.username }}</p>
                                            <span class="mnp-desc">{{ user.email }}</span>
                                        </a>
                                    </div>
                                    <div id="profile-nav" class="collapse list-group bg-trans">
                                        <a href="#" class="list-group-item">
                                            <i class="demo-pli-male icon-lg icon-fw"></i> View Profile
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="demo-pli-information icon-lg icon-fw"></i> Help
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <i class="demo-pli-unlock icon-lg icon-fw"></i> Logout
                                        </a>
                                    </div>
                                </div>


                                <!--Shortcut buttons-->
                                <!--================================-->
                                <div id="mainnav-shortcut" class="hidden">
                                    <ul class="list-unstyled shortcut-wrap">
                                        <li class="col-xs-3" data-content="My Profile">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                                <i class="demo-pli-male"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="Messages">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                                                <i class="demo-pli-speech-bubble-3"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="Activity">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                                <i class="demo-pli-thunder"></i>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="col-xs-3" data-content="Lock Screen">
                                            <a class="shortcut-grid" href="#">
                                                <div class="icon-wrap icon-wrap-sm icon-circle bg-purple">
                                                <i class="demo-pli-lock-2"></i>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--================================-->
                                <!--End shortcut buttons-->


                                <ul id="mainnav-menu" class="list-group">
						
						            <!--Category name-->
						            <li class="list-header">Navigation</li>
						
						            <!--Menu list item-->
						            <li {% if title == 'Dashboard' %}class="active-sub"{% endif %}>
						                <a href="{%url 'dashboard'%}">
						                    <i class="demo-pli-home"></i>
						                    <span class="menu-title">Dashboard</span>
											
						                </a>
						            </li>
						
						            <!--Menu list item-->
						           
						            <li class="list-divider"></li>
						
						            <!--Category name-->
						            <li class="list-header">Components</li>
						
						            <!--Menu list item-->
									<li {% if title == 'Maps' %}class="active-sub"{% endif %}>
						                <a href="{%url 'dashboard-map'%}">
						                    <i class="demo-pli-map"></i>
						                    <span class="menu-title">Maps</span>
											
						                </a>
						            </li>

						            <li>
						                <a href="#">
						                    <i class="demo-psi-data-cloud"></i>
						                    <span class="menu-title">Data</span>
											<i class="arrow"></i>
						                </a>
						
						                <!--Submenu-->
						                <ul class="collapse">
						                    <li {% if title == 'Station Data' %}class="active-sub"{% endif %}><a href="{% url 'dashboard-station-data'%}">Station Data</a></li>
											<li {% if title == 'Data History' %}class="active-sub"{% endif %}><a href="{% url 'dashboard-data-history'%}">Data History</a></li>
											<li {% if title == 'Data Report' %}class="active-sub"{% endif %}><a href="{% url 'dashboard-data-report'%}">Data Report</a></li>											
						                </ul>
						            </li>
						
						            <!--Menu list item-->
						            <li {% if title == 'Monitor' %}class="active-sub"{% endif %}>
						                <a href="{% url 'dashboard-monitor'%}">
						                    <i class="demo-psi-monitor-2"></i>
						                    <span class="menu-title">Monitor</span>
						                </a>
						            </li>
						
						            <!--Menu list item-->
						            <li>
						                <a href="#">
						                    <i class="demo-pli-data-storage"></i>
						                    <span class="menu-title">Log</span>
											<i class="arrow"></i>
						                </a>
						
						                <!--Submenu-->
						                <ul class="collapse">
						                    <li><a href="tables-static.html">Static Tables</a></li>
											<li><a href="tables-bootstrap.html">Bootstrap Tables</a></li>
											<li><a href="tables-datatable.html">Data Tables</a></li>
											<li><a href="tables-footable.html">Foo Tables</a></li>
											
						                </ul>
						            </li>
						
						            <!--Menu list item-->
						            <li {% if title == 'Settings' %}class="active-sub"{% endif %}>
						                <a href="{% url 'dashboard-settings'%}">
						                    <i class="demo-pli-gear"></i>
						                    <span class="menu-title">Settings</span>
								    </a>					               
						            </li>
						
						            <!--Menu list item-->
						            <li {% if title == 'Support' %}class="active-sub"{% endif %}>
						                <a href="{% url 'dashboard-support'%}">
						                    <i class="demo-pli-support"></i>
						                    <span class="menu-title">Support</span>
						                </a>
						            </li>
						
						            <!--Menu list item-->
						            <li>
						                <a href="{%url 'logout'%}"> 
						                    <i class="demo-psi-close"></i>
						                    <span class="menu-title">Logout</span>
											
						                </a>
						
						                
						            </li>
						
						            <li class="list-divider"></li>
						
						        </ul>


                               

                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->
                </div>
            </nav>
<!--===================================================-->
<!--END MAIN NAVIGATION-->