{% extends 'main/dashboard.html' %}
{% load static %}


{% block content %}
<div id="page-content">
  <!-- Resumen superior -->
  <div class="row">
    <!-- Estaciones Activas -->
    <div class="col-sm-4">
      <div class="panel panel-bordered panel-success">
        <div class="panel-body text-center">
          <h3 class="text-thin"></h3>
          <p>Clientes registrados</p>
        </div>
      </div>
    </div>
    <!-- Advertencias -->
    <div class="col-sm-4">
      <div class="panel panel-bordered panel-warning">
        <div class="panel-body text-center">
          <h3 class="text-thin"></h3>
          <p>Pedidos atendidos</p>
        </div>
      </div>
    </div>
    <!-- Alarmas -->
    <div class="col-sm-4">
      <div class="panel panel-bordered panel-danger">
        <div class="panel-body text-center">
          <h3 class="text-thin"></h3>
          <p>Pedidos sin antender</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Tarjetas de Estaciones -->
  <div class="row">
     </div>
</div>
{% endblock %}
