{% extends 'main/dashboard.html' %} 
{% load static %} 



{% block content %}
<!--Page content-->
<!--===================================================-->
<div id="page-content">
  <!--Activated Users Chart-->
  <!--===================================================-->
  <div class="panel">
    <div class="panel-body"></div>
  </div>
  <!--===================================================-->
  <!--End Activated Users chart-->
</div>
<!--===================================================-->
<!--End page content-->
{% endblock %}
